[server]
## Defines the IP address and port the HTTP server listens on.
## Defaults: "0.0.0.0:8080"
address = "127.0.0.1:8080"

[redis]
## Defines the IP address and port of redis instance
host = "redis"
port = "6379"

